/**
 * @name Heart of the Mountain
 * @author Megadash452
 * @version 1
 * @description Celeste theme.
 */
 @font-face {
    font-family: 'Renogare';
    src: url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Renogare-Regular.woff2?raw=true) format('woff2');
}

 :root {
    /*-- COLORS --*/
    --color-blue:       #58AAFC;
	--color-light-blue: #7FF2F8;
	--color-red:        #B80B33;
	--color-light-red:  #FF2457;
	--color-gold:       #B8A90B;
    --color-yellow:     #FFFC24;
    --color-pink:       #e771dd;
    --color-light-pink: #FF7DED;
    
    /*--  --*/
    --channel-unread:     var(--color-yellow);
    --channel-hover:      var(--color-yellow);
    --channel-hover-bg: #b8aa0b7f;
    --channel-color:    #ffffff5e;
    
    --muted-hover:        var(--color-gold);
    --muted-hover-bg:   #ffffff1a;
	--muted-color:      #ffffff1a;
    --channel-text-selected: #fff;
    --channel-padding: 6px;
    --url-color:          var(--main-color);

    --base-border: 0px solid /*#58AAFC6a*/;
    --sidebar-top-color:    rgba(0, 0, 0, 0.35)/*rgba(49, 22, 59, 0.35)*/;
    --sidebar-mid-color:    rgba(0, 0, 0, 0.35)/*rgba(49, 22, 59, 0.35)*/;
    --sidebar-bottom-color: rgba(0, 0, 0, 0.7)/*rgba(49, 22, 59, 0.7)*/;
    --chat-color:           rgba(0, 0, 0, 0.5)/*rgba(49, 22, 59, 0.5)*/;
    --input-bg:             #6464644d;
    --input-margin: 20px;
    
    --home-icon:        url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Blue_Heart.png?raw=true);
    --home-bg:          var(--color-pink);
    --pop-up-bg:        url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Summit-bg.png?raw=true);
    --background-image: url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Heart_of_the_Mountain.png?raw=true);
    --background-style: grayscale(0%) sepia(0%) invert(0%) brightness(110%) contrast(119%) saturate(110%) blur(2px);
    --inputbar-style:   grayscale(0%) sepia(0%) invert(0%) brightness(90%) contrast(119%) saturate(110%);
}

.da-titleBar{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding-top: 4px;
}

.appMount-3lHmkl {
	background: rgb(0, 0, 0, 0.6);
}
.da-bg{
	background: var(--background-image) center/cover no-repeat fixed;
	-webkit-filter: var(--background-style);
	filter: var(--background-style);
	z-index: -9999;
}


/*--- --- TOP BAR (windows) --- ---*/
.da-winButtonClose {
    background-color: #B80B336c;
    border-top-right-radius: 8px;
}
.da-winButtonMinMax:nth-of-type(3) {
    background-color: #B8A90B6a;
}
.da-winButtonMinMax:nth-of-type(4) {
    background-color: #58AAFC6a;
    border-top-left-radius: 8px;
}

.da-winButtonClose:hover {
    background-color: #FF24576c;
    border-top-right-radius: 0%;
}
.da-winButtonMinMax:nth-of-type(3):hover {
    background-color: #fffb246a;
}
.da-winButtonMinMax:nth-of-type(4):hover {
    background-color: #7ff2f86a;
    border-top-left-radius: 0%;
}
/*---  ---*/


/*--- --- Server List and Channels Popouts --- ---*/
#guild-context, #guild-header-popout {
    background-image: var(--background-image);
    background-color: #00000000;
}
/*---  ---*/


/*--- --- Server List --- ---*/
.da-homeIcon {
    background: var(--home-icon) center/cover no-repeat;
    width: 100%;
    height: 100%;
}
.da-homeIcon > path {
    display: none;
}

.da-baseLayer > nav {
    background-color: aliceblue;
}

.da-tree .da-listItem .da-wrapper .da-item {
    background-color: var(--color-light-pink);
}

.da-expandedFolderIconWrapper > svg {
    color: var(--color-blue) !important;
}

.da-listItemWrapper .da-circleButtonMask .da-circleIconButton{
    color: var(--color-light-pink);
    background-color: #ce65c55d;
}
.da-listItemWrapper .da-circleButtonMask:hover .da-circleIconButton{
    color: var(--color-light-blue) !important;
    background: var(--color-pink) !important;
}
.da-listItemWrapper .da-circleIconButton.da-selected {
    color: var(--color-yellow);
    background-color: var(--color-light-red);
}

.da-tutorialContainer .da-childWrapper{
    background-color: transparent;
}
.da-tutorialContainer .da-selected .da-childWrapper{
    background-color: var(--home-bg);
    color: #ffffff;
}
/*---  ---*/


/*--- --- App Base --- ---*/
.da-mention.da-active,
.da-numberBadge {
    background: var(--color-light-red) !important;
}

.da-sidebar .da-searchBarComponent {
    background: var(--sidebar-bottom-color);
    border: 1px solid #0a0a0a;
}
a.da-anchor {
    color: var(--color-light-pink);
}
a.da-anchor:hover {
    color: var(--color-light-blue)
}

/*- Font -*/
.da-chat .da-message .da-username {
    font-family: 'Renogare', Whitney;
}

.da-numberBadge.da-base {
    background-color: transparent !important;
    border-radius: 0px;
    background: url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Red_Heart.png?raw=true) center !important;
}
.da-upperBadge .da-iconBadge {
    background-color: transparent !important;
    border-radius: 0px;
    background: url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Golden_Heart.png?raw=true) center !important;
}
.da-upperBadge .da-iconBadge svg {
    color: #3a2c55;
}
.da-base .da-notice {
    background-color: var(--color-gold);
}

.da-live {
    background-color:  var(--color-light-red) !important;
}
/*---  ---*/


/*--- --- CHANNELS & DMs --- ---*/
.da-sidebar nav.da-container,
.da-sidebar .da-privateChannels {
    background-color: /*var(--sidebar-mid-color)*/transparent;
    border-top-left-radius: 10px;
    border-top: var(--base-border);
    border-left: var(--base-border);
}
.da-sidebar .da-bannerImage {
    border-top-left-radius: 9px;
}
.da-sidebar .da-header .da-name,
.da-sidebar .da-header .da-button {
    font-size: 20px;
    color: var(--color-light-blue);
    text-shadow: 0 0 7px var(--color-light-blue);

    padding-top: 10px;
    padding-bottom: 10px;
}
.da-sidebar .da-searchBar,
.da-sidebar .da-header::before {
    background: var(--sidebar-top-color);
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.da-sidebar::before {
    background: /*transparent*/var(--sidebar-mid-color);
    content: "";
    position: absolute;
    top: 49px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    width: 240px;
    height: 87.3%;
}
.da-sidebar .da-panels {
    background: var(--sidebar-bottom-color);
    border-left: transparent/*var(--base-border)*/;
}
.da-sidebar .da-scroller::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--color-light-blue);
    min-height: 40px;
}

.da-unreadBar {
    background-color: #fa7ce79a;
}

/*- Channel Category and +button (hover) -*/
.containerDefault-3tr_sE .da-wrapper:hover .da-overflow,
.containerDefault-3tr_sE .da-wrapper:hover .da-arrow.da-icon,
.containerDefault-3tr_sE .da-children:hover .da-addButtonIcon,
.containerDefault-3tr_sE .da-collapsed .da-overflow,
.containerDefault-3tr_sE .da-collapsed .da-arrow.da-icon {
    color: var(--color-light-red)
}

/*- Channel color -*/
.da-sidebar .da-content .da-icon,
.da-content .da-name {
    color: var(--channel-color);
}
.da-title .da-iconContainer {
    margin-right: 0px;
}
.da-content .da-name {
    padding-left: var(--channel-padding);
}
.content-1x5b-n.da-content:hover {
    background: var(--channel-hover-bg);
}
.content-1x5b-n.da-content:hover .da-name,
.content-1x5b-n.da-content:hover .da-icon,
.content-1x5b-n.da-content .da-iconBase:hover .da-actionIcon {
    color: var(--channel-hover);
    text-shadow: 0 0 5px var(--channel-hover);
}

/*- Channel unread -*/
.modeUnread-1qO3K1 .da-name,
.modeUnread-1qO3K1 .da-icon {
    color: var(--channel-unread);
    text-shadow: 0 0 5px var(--channel-unread);
}
.modeUnread-1qO3K1 .da-unread {
    background: var(--color-blue);
}

/*- Channel selected -*/
.modeSelected-346R90 .da-name,
.modeSelected-346R90 .da-icon,
.modeSelected-346R90 .da-children .da-actionIcon {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}
.modeSelected-346R90 .da-content {
    background: var(--color-gold);
}

/*- Channel muted -*/
.modeMuted-onO3r- .da-name,
.modeMuted-onO3r- .da-icon {
    color: var(--muted-color);
}
.modeMuted-onO3r- .da-content:hover .da-name,
.modeMuted-onO3r- .da-content:hover .da-icon {
    color: var(--muted-hover);
    text-shadow: 0 0 5px var(--muted-hover);
}
.modeMuted-onO3r- .da-content:hover {
    background-color: var(--muted-hover-bg);
}
/*---  ---*/

/*--- --- CHAT --- ---*/
/*- New Messages Barr -*/
.da-newMessagesBar,
#---new-messages-bar .da-unreadPill {
    color: var(--color-light-blue);
    background: var(--color-light-red);
    filter: brightness(100%)
}

#---new-messages-bar .da-content,
#---new-messages-bar .da-unreadPillCap .da-unreadPillCapStroke {
    color: var(--color-light-red);
    fill: var(--color-light-red);
    filter: brightness(100%)
}
#---new-messages-bar {
    border-color: var(--color-light-red);
}

.da-jumpToPresentBar {
    background-color: var(--color-light-pink);
    opacity: 0.9;

    left: var(--input-margin);
    right: var(--input-margin);
}
.da-messagesErrorBar {
    background-color: var(--color-red);

    left: var(--input-margin);
    right: var(--input-margin);
}

.da-divider.da-hasContent {
    border-color: rgb(97, 212, 218);
}
.da-divider.da-hasContent span {
    color: #4bf6ff;
    background: var(--background-image) center/cover no-repeat fixed;
    filter: grayscale(0%) sepia(0%) invert(0%) brightness(50%) contrast(119%) saturate(110%);
}

/*- On Call -*/
.da-themed.da-container,
.da-videoControls .da-container.da-transparent {
    border-top: var(--base-border);
    background: rgba(0, 0, 0, 0.4);
}
.da-chat .da-channelName div.da-input {
    color: var(--color-light-pink);
    text-shadow: 0 0 7px var(--color-light-pink);
    font-size: 20px;
    margin: 0px;
}
.da-themed.da-container .da-title {
    color: var(--color-light-pink);
    text-shadow: 0 0 7px var(--color-light-pink);
}
.da-themed.da-container .da-iconWrapper {
    margin-right: 0px;
}
.da-themed.da-container .da-title {
    font-size: 20px;
    margin: 0px;
    padding: 8px;
}

.da-chat .da-wrapper.da-video {
    background: var(--pop-up-bg) center bottom/cover no-repeat;
}
.da-chat .da-wrapper.da-video .da-root{
    background-color: rgb(0, 0, 0, 0.7);
}
.da-videoControls .da-quickSelectLabel {
    height: 15px;
}
.da-videoControls .da-quickSelectValue,
.da-videoControls .da-quickSelectArrow {
    height: 15px;
    color: var(--color-yellow)
}
.da-chat .da-wrapper {

}
.da-wrapper.da-video .da-tile .da-videoWrapper {
    background-color: #00000090;
}

/*- Channel Info bar -*/
.da-themed.da-container .da-children::after {
    background: transparent
}
.da-themed.da-container .da-icon,
.da-themed.da-container .da-title {
    color: var(--color-light-pink);
    text-shadow: 0 0 7px var(--color-light-pink);
}
.da-themed.da-container .da-iconWrapper {
    margin-right: 0px;
}
.da-themed.da-container .da-title {
    font-size: 20px;
    margin: 0px;
    padding: 8px;
}
.da-title.da-themed svg span{
    background-color: var(--color-light-red)
}

/*- Chat -*/
.da-chat {
    background: var(--chat-color);
}
.da-chat .da-message .da-messageContent,
.da-chat .da-message .da-headerText .da-username,
.da-chat .da-divider .da-content {
    text-shadow: 0px 0px 3px;
}
.da-chat .da-message .da-buttons .da-wrapper::before {
    background: var(--background-image) center/cover no-repeat fixed;
    filter: var(--inputbar-style);
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;

    width: 100%;
    height: 100%
}

.da-form::before {
    display: none;
}
.da-form {
    padding-right: var(--input-margin);
    padding-left: var(--input-margin);
}
.da-form > div {
    border-radius: 9px;
}
.da-attachButton svg path{
    fill: var(--color-pink)
}
.da-form .da-channelTextArea {
    background: var(--background-image) center/cover no-repeat fixed;
    filter: var(--inputbar-style);
    margin-bottom: var(--input-margin);
}
.da-form .da-channelTextAreaDisabled {
    filter: grayscale(0%) sepia(0%) invert(0%) brightness(70%) contrast(119%) saturate(110%);
}
.da-form .da-webkit {
    background-color: var(--input-bg);
}

.da-typing.da-base{
    height: 20px
}
.da-typing.da-base .da-text {
    color: var(--color-red);
    margin-left: 8px
}
.da-typing.da-base .da-dots {
    margin-left: 5px;
}
.da-typing.da-base .da-text > strong {
    color: var(--color-light-red)
}

.da-typing.da-base g:nth-of-type(1){
    color: var(--color-light-blue);
}
.da-typing.da-base .da-dots circle:nth-of-type(2){
    color: var(--color-light-red)
}
.da-typing.da-base .da-dots circle:nth-of-type(3){
    color: var(--color-yellow)
}

.da-message::before {
    background-color: var(--color-yellow)
}
.da-form .da-textAreaSlate .da-placeholder{
    color: var(--color-light-pink)
}

.da-message.da-mentioned::before {
    content: "";
    position: absolute;
    width: 100%;

    background: var(--pop-up-bg) center center/cover no-repeat;
    opacity: 60%
}
.da-message.da-mentioned {
    border-left: 2px solid var(--color-yellow);
}
.da-chat .da-messagesWrapper .da-scrollerContent {
    position: relative
}


/*- Reply -*/
.da-channelTextArea .da-container {
    background: var(--pop-up-bg) center top;
}
.da-channelTextArea .da-container .da-name {
    color: var(--color-yellow);
}

/*- Loading Messages -*/
.da-messagesWrapper .da-scrollerInner > div.da-wrapper:nth-of-type(1) {
    background: transparent;
}
.da-messagesWrapper .da-scrollerInner > div.da-wrapper:nth-of-type(1) .da-wrapper.da-cozy {
    background-color: transparent;
}
.da-messagesWrapper .da-scrollerInner > div.da-wrapper:nth-of-type(1) .da-avatar {
    background: url(https://github.com/Megadash452/Discord-Theme/blob/master/res/Blue_Heart.png?raw=true) center/cover no-repeat
}
.da-messagesWrapper .da-scrollerInner > div.da-wrapper:nth-of-type(1) .da-header .da-blob {
    background: var(--color-light-pink);
}
.da-messagesWrapper .da-scrollerInner > div.da-wrapper:nth-of-type(1) .da-attachmentContainer .da-attachment {
    background: var(--pop-up-bg) center bottom/cover no-repeat;
    opacity: 0.1 !important;
}
/*---  ---*/


/*--- --- Popups --- ---*/
/*- File Upload -*/
#app-mount .da-uploadModal {
    background: var(--pop-up-bg) bottom center/cover no-repeat;
}
#app-mount .da-inner .da-channelTextAreaUpload .da-webkit{
    background: #8f8f8f54;
}
#app-mount .da-uploadModal .da-inner {
    background: #00000088;
    margin: 0px;
}
#app-mount .da-uploadModal .da-comment .da-inner {
    background: transparent;
}
#app-mount .da-footer {
    background:#000000cc
}
/*---  ---*/


/*--- --- s --- ---*/
.da-sidebar,
.da-base > .da-content,
.da-base,
.da-baseLayer > .da-container,
.da-baseLayer,
.da-layers,
.da-bg,
.da-app,

.da-tree > .da-scroller,
.da-tree,
.guilds-1SWlCJ {
    background-color: transparent;
}

.da-themed.da-container::after {
    color: transparent;
}
.da-themed.da-container {
    margin-bottom: 1px;
}
.da-clickable .da-header {
    height: 49px;
}

/*--- ---*/






/*--- --- Settings --- ---*/
.side-8zPYf6 .da-header {
    color: var(--color-yellow);
    background-color: transparent;
}

/*- Settings Side Bar -*/
.side-8zPYf6 .da-item {
    color: var(--channel-color)
}
.side-8zPYf6 .da-item:nth-of-type(8) { /**/
    color: var(--color-light-red) !important;
}
.side-8zPYf6 .da-item:hover {
    background: var(--channel-hover-bg) !important;
}
.side-8zPYf6 .da-selected {
    background: var(--color-gold) !important;
    color: #ffffff;
}

#bd-settings-sidebar .ui-tab-bar-header {
    color: var(--color-yellow) !important;
}
#bd-settings-sidebar .ui-tab-bar-item:hover {
    background: var(--channel-hover-bg) !important;
}
#bd-settings-sidebar .selected {
    background: var(--color-gold) !important;
    color: #ffffff !important;
}

/*-- BD -Settings- --*/
.bd-switch-checked, .bd-pfbtn {
    background: var(--color-light-blue);
    color: grey;
}
.bd-pfbtn:hover {
    color: #ffffff;
}
/*---  ---*/