/**
 * @name Heart of the Mountain
 * @author Megadash452
 * @version 1
 * @description Celeste theme.
 */
@import url(https://github.com/Megadash452/Discord-Theme/blob/master/theme-core.css);

:root {
    /*-- COLORS --*/
    --color-blue:       #58AAFC;
	--color-light-blue: #7FF2F8;
	--color-red:        #B80B33;
	--color-light-red:  #FF2457;
	--color-gold:       #B8A90B;
    --color-yellow:     #FFFC24;
    
    /*--  --*/
}
.da-titleBar{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding-top: 4px;
}